* {
    margin: 0;
    
}
body {
	max-width: 900px;
	border: 0px solid black;
	margin: 0 auto;
	font-family: 'Gabriela', serif;
	font-size: 16px;
}
a{
    text-decoration: none;
}
li{
    list-style-type: none;
}
header{
    display:flex;
    height: 80px;
    padding-left: 10px;
    background-color: #6dc62c;
}
header h1{
    color:white;
    font-size: 1.7rem;
}

nav{
    justify-content: flex-end;
    align-self:center;
}
nav li{
   display: inline-block;
}
nav li a{
    
    border: 1px solid white;
    border-radius: 15px;
    box-sizing: border-box;
	padding: 5px 10px;
	background-color: white;
    color: green;
}
nav li a:hover{
   font-size: 1.2rem;
   box-shadow: 3px 3px 10px #efeb09;
}
main{
    display: flex;
    flex-wrap: wrap;
}
#banner{
    width: 100%;
   
}
#banner img{
    width: 100%;
    margin: 0 auto;
}
#first-part{
    display: flex;
    justify-content: spase-between;
}
#main-text{
    width: 65%;
    padding: 2rem;
}
#main-text p{
    text-indent: 1rem;
}
aside{
    border: 1px solid black;
    width: 34%;
}
#links li{
    margin: 0.4rem;
}
.no_flows{
    clear: both;
}
.pict{
    width:200px;
    float: left;
    margin:10px;
}
.menu{
    
    text-align: center;
}
#parent {
	flex-wrap: wrap;
	justify-content: space-between;
	display: flex;
	border: 1px solid #696989;
	
	width: 100%;
	margin: auto;
}
#parent > div {
	border: 1px solid #696989;
	width: 30%;
	height: 270px;
	margin: 0.5rem;
	padding: 0.2rem;
}

#parent > div img{
    padding: 0.7rem;
    float: left;
}
#parent > div h3{
    padding-top: 1rem; 
   
}
#parent > div p{
    text-align: center;
}

#form{
    width:300px;
    border:1px solid black;
}
footer{
    display: flex;
    width: 100%;
    height: 50px;
    padding-left: 10px;
    background-color: #6dc62c;
    color:white;
}
footer div{
   justify-content:space-between; 
}
#motto{
    font-size: 2rem;
}
#copy{
    
    font-size: 0.6rem;
    margin-top: 20px;
}
