/*common styles*/
html {
    font-size: 16px;
    background: url(../img/bg.jpg);
}

body {
    background-color: white;
    font-family: 'Gabriela', serif;
}

a {
    text-decoration: none;
}

.menu {
    background-color: #063d04;
    text-align: center;
    height: 60px;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

/*header styles*/
nav {
    width: 100%;
}
.container{
    max-width: 900px;
}

.navbar-header .navbar-brand,
.navbar-header .navbar-brand:hover, 
.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li > a:focus
{
    color: green;
    background-color: white;
    font-weight: bold;
}
.navbar-default .navbar-nav > li > a:hover{
    background-color: rgba(0,128,0, 0.5);
    color: #feffd7;
}

/*main styles*/
main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

#first-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align:center;
        -ms-flex-align:center;
            align-items:center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0.5rem;
}

#first-text p {
    text-indent: 1rem;
}

/*aside with links - styles*/
aside {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack:center;
        -ms-flex-pack:center;
            justify-content:center;
    -webkit-box-align:center;
        -ms-flex-align:center;
            align-items:center;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
        -ms-flex-direction:column;
            flex-direction:column;
}


#links {
    background: url(../img/scroll.png);
    background-repeat: no-repeat;
    max-width: 300px;
    min-width: 290px;
    background-size: 100%;
    height: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack:center;
        -ms-flex-pack:center;
            justify-content:center;
    -webkit-box-align:center;
        -ms-flex-align:center;
            align-items:center;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
        -ms-flex-direction:column;
            flex-direction:column;
}

#links ul {
    padding-left: 3.2rem;
}

#links li {
    list-style-image: url(../img/leaf.png);
    margin: 0.4rem;
}

#links a,
#links a:focus{
    color: black;
    font-weight: bold;
    font-size: 0.8rem;
    text-decoration: none;
}

#links a:hover{
    color: red;
    text-decoration: none;
}

/*advice styles*/
#advice {
    width: 100%;
}

.collection-advice {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 5px;
    padding-right: 5px;
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
}

.collection-advice-item {
    border: 1px solid rgba( 7, 58, 11, 0.2);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 32%;
    min-width: 250px;
    margin-bottom: 1rem;
}

.advice-img {
    margin: 10px;
    height: 140px;
    width: 140px;
    border-radius: 50%;
    background-color: #36bf34;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.advice-img img {
    padding: 1rem;
    width: 70%;
}

.advice-text p {
    text-align: center;
    padding: 0 1rem;
    margin-top: 0px;
}

/*news styles*/
.collection-news {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.collection-news-item {
    border: 1px solid rgba( 7, 58, 11, 0.2);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 5px 5px;
}


.news-text {
    padding: 0 20px 0px 5px;
}

.news-text h3 {
    color: green;
    margin-top: 5px;
    margin-bottom: 5px;
}


.morecontent span {
    display: none;
}
.morelink {
    display: block;
}

.key{
    text-align: center;
    margin-top: 5px;
	padding: 5px;
	border: 1px solid transparent;
	border-radius: 5px;
	outline: none;
	margin-right: 5px;
	background-color: #36bf34;
	color:white;
	 
 }
 .key:hover,
 .key:focus{
    text-decoration: none;
    color:white;
    cursor: pointer;
 }


/*contacts styles*/
#contacts {
    width: 100%;
}

form {
    margin: 0 auto;
    text-align: center;
    background-color: #feffd7;
    border: 1px solid rgba( 7, 58, 11, 0.2);
}

form h3 {
    color: #063d04;
}

form input[type = "submit"] {
    margin-bottom: 10px;
    background-color: green;
}

form input[type='submit'] {
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 5px;
    outline: none;
    margin-right: 5px;
    color: white;
    background-color: #36bf34;
    font-weight: bold;
}

#help{
    text-align: center;
    color: red;
}

#social-networks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 20px 0;
}

/*footer styles*/
footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 50px;
    padding-left: 10px;
    background-color: #063d04;
    color: white;
}

#copy {
    padding-right: 5px;
}