* {
    margin: 0;
}
body {
	max-width: 900px;
	border: 1px solid black;
	margin: 0 auto;
	font-family: 'Gabriela', serif;
	font-size: 16px;
}
a{
    text-decoration: none;
}
li{
    list-style-type: none;
}

header{
    height: 80px;
    padding-left: 10px;
    background-color: #6dc62c;
    color:white;
    border: 1px solid black;
}